<link rel="stylesheet" href="/css/login.css" />
<div class="login-container">
  <div class="login-left">
    <img src="https://cdni.iconscout.com/illustration/premium/thumb/login-authentication-4488953-3723270.png" class="img-fluid" alt="Login Illustration" />
  </div>
  <div class="login-right">
    <div class="text-end"></div>
    <h2 class="fw-bold mt-4">Welcome to PNL Sentimen!</h2>
    <form id="loginUser">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="username" name="username" required />
      </div>
      <div class="mb-4">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required />
      </div>
      <button type="submit" class="btn btn-login w-100">Login</button>
    </form>
    <div class="text-center mt-4">
      <small>Login account with</small>
      <div class="social-login">
        <i class="bi bi-facebook"></i>
        <i class="bi bi-linkedin"></i>
        <i class="bi bi-google"></i>
      </div>
    </div>
  </div>
</div>
<script src="/js/login.js"></script>
